<!-- Estendemos do template base  -->
{% extends "appprincipal/_layouts/base.html" %}

<!-- Bloco de conteúdo da nossa página -->
{% block conteudo %}

<div class="container mt-3">
    <h2><a><i>POLÍTICA DE SEGURANÇA E PRIVACIDADE DO PORTAL</i></a></h2>
    </br>
    <p class="mb-1">O portal coleta informações de diversas formas, em diferentes áreas do portal.
    
    Algumas informações pessoais são obtidas quando você se registra. Durante o processo de registro, o portal 
    pergunta seu nome, endereço de e-mail e outras informações pessoais. Quanto mais informações corretas você fornecer ,
    melhor será a personalização da sua experiência.</p>

</div>

</div>
{% endblock %}