<!-- Estendemos do template base  -->
{% extends "appprincipal/_layouts/base.html" %}


{% load widget_tweaks %}

<!-- Bloco de conteúdo da nossa página -->

{% block conteudo %}
{% csrf_token %}


<div class="container mt-3">
    <table>
        <tbody> {% for produto in produtos %} <tr>
                <td>{{ produto.fktipoprod }}</td>
                <td>{{ produto.nmproduto }}</td>
                <td>{{ produto.precoprod }}</td>
                <td><a href="{% url 'appprincipal:update_prod' pk=produto.id %}">Atualizar</a></td>
                <td><a href="{% url 'appprincipal:deleta_prod' pk=produto.id %}">. Deletar</a></td>
            </tr> {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}