<!-- Estendemos do template base  -->
{% extends "appprincipal/_layouts/base.html" %}

{% load widget_tweaks %}

<!-- Bloco de conteúdo da nossa página -->

{% block conteudo %}



<div class="container mt-3">
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label>Nome Tipo Produto</label>
            {% render_field form.fktipoprod %}
        </div>
        <div class="form-group">
            <label>Nome Produto</label>
            {% render_field form.nmproduto %}
        </div>
        <div class="form-group">
            <label>Preco</label>
            {% render_field form.precoprod %}
        </div>
        <button type="submit">Cadastrar</button>

    </form>
</div>


{% endblock %}