<!-- Estendemos do template base  -->
{% extends "appprincipal/_layouts/base.html" %}

<!-- Bloco de conteúdo da nossa página -->
{% block conteudo %}

<div class="container mt-3">
    <h2><a>Condição, termo e encargo</a></h2>
    </br>
    <p class="mb-1">Os elementos acidentais não são imprescindíveis para a existência e a validade do negócio jurídico. Podem estar
    presentes por acordo das partes e influenciam no plano da eficácia da declaração de vontade. São eles: a condição, o
    termo e o modo ou encargo.
    
    A condição é conceituada no art. 121 do Código Civil como “a cláusula que, derivando exclusivamente da vontade das
    partes, subordina o efeito do negócio jurídico a evento futuro e incerto”. É possível perceber as características desse
    elemento por esse dispositivo: a futuridade e a incerteza. São eles que a diferenciam dos demais elementos acidentais.
    Importante notar que o próprio fato estabelecido como condição deve ser incerto, não só o momento em que irá ocorrer. A
    morte, por exemplo, é evento certo na vida das pessoas, o qual não se sabe o momento em que irá ocorrer. Logo, não
    caracteriza condição, mas termo. Um exemplo clássico de condição a ser estipulada é a do casamento, que pode acontecer
    ou não. A incerteza é de tal modo importante para a configuração da condição, que caso a parte venha a interferir no
    acaso e forçar seu acontecimento, esta não se beneficia (art. 129, CC). Ainda quaisquer condições que subordinem os
    negócios jurídicos ao arbítrio de uma das partes ou que privem o negócio jurídico de seus efeitos são consideradas
    ilícitas, invalidando o negócio jurídico a que são subordinadas (arts. 122 e 123, CC).
    
    As condições se dividem em suspensivas e resolutivas. As suspensivas subordinam a eficácia do negócio jurídico e a
    própria aquisição do direito a que se referem enquanto não forem implementadas. Se o negócio jurídico contém uma
    condição resolutiva, por sua vez, produzirá efeitos até que esta se implemente, quando serão extintos os direitos a que
    ela se opõe.
    
    O termo possui como características a futuridade e a certeza. Duas classificações do termo devem ser observadas: o termo
    inicial e final; e os termos certos e incertos.
    
    O termo final extingue os efeitos do negócio; o termo inicial, nos termos do Código Civil, “suspende o exercício, mas
    não a aquisição do direito”. Isso significa que o direito é adquirido na conclusão do contrato, sendo apenas sua
    exigibilidade diferida ao momento em que o termo se der.
    
    O termo certo traz consigo uma determinação de que o evento ocorrerá e do momento exato – como naqueles em que se
    estabelece uma data específica (“em 4 de agosto de 2018”). Já o termo incerto traz um evento que certamente acontecerá,
    mas não se sabe quando – o exemplo clássico é a morte, já mencionada anteriormente.</p>

</div>

</div>
{% endblock %}