    <!-- Estendemos do template base  -->
    {% extends "appprincipal/_layouts/base.html" %}

<!-- Bloco de conteúdo da nossa página --> 
    {% load widget_tweaks %}
    
    {% block conteudo %}
    
    
    <table>
        <tbody> {% for produto in produtos %} <tr>
                <td>{{ produto.nmproduto }}</td>
            </tr> 
        </tbody>
                <td>{{ produto.precoprod }}</td>
            <td><a href="{% url 'appprincipal:deleta_venda' pk=produto.id %}">Deletar</a></td>
            </tr> {% endfor %}
        </tbody>
    </table>
    

{% endblock %}