<!-- Estendemos do template base  -->
{% extends "appprincipal/_layouts/base.html" %}

{% load widget_tweaks %}

<!-- Bloco de conteúdo da nossa página -->

    {% block conteudo %}



    <div class="container mt-3">
         <table>
        <tbody> {% for venda_produto in venda_produtos %} <tr>
                <td>{{ venda_produtos.fkvenda }}</td>
                <td>{{ venda_produtos.fkproduto }}</td>
                <button type="submit">Venda</button>
            </tr> {% endfor %}
        </tbody>
    </table>
         

        </form>
    </div>


        {% endblock %}